  /*---------shine----------*/

  .butn-animated {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
  }
  
  .butn-animated:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
  }
  
  .butn-animated:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(146, 148, 248, 0.4),
      transparent
    );
    transition: all 650ms;
  }
  
  .butn-animated:hover:before {
    left: 100%;
  }
    /*--------shine----------!*/



  /*btn-animated_background*/
  .effect01 {
    color: #FFF;
    border: 4px solid rgb(252, 206, 1);
    background-color: rgb(252, 206, 1);
    overflow: hidden;
    position: relative;
    transition: all 0.2s ease-in-out;
  }
  .effect01:focus {
    border: 4px solid #FFF;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #FFF inset;
  }
  .effect01:hover {
    border: 4px solid #FFF;
    background-color: #FFF;
    box-shadow:0px 0px 0px 4px #FFF inset;
  }
  
  /*btn_text*/
  .effect01 span {
      font-size: 50px;
    transition: all 0.2s ease-out;
    z-index: 2;
  }
  .effect01:hover span{
    letter-spacing: 0.13em;
    color: rgb(252, 206, 1);
  }
  
  /*highlight*/
  .effect01:after {
    background: #FFF;
    border: 0px solid rgb(235, 96, 3);
    content: "";
    height: 250px;
    left: -75px;
    opacity: .8;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
            transform: rotate(35deg);
    width: 50px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);/*easeOutCirc*/
    z-index: 1;
  }
  .effect01:hover:after {
    background: #FFF;

    border: 20px solid rgb(235, 96, 3);
    opacity: 0;
    left: 120%;
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }

/*-----------SPINER LOADER-----------*/
.blurFade{
  position: absolute;
  background-color: #000;
  opacity: 0.7;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 5s;
}
.loader,.loader:before,.loader:after{
  display: none;
  z-index: 3;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  content:"";
  position:absolute;
  border-radius:50%;
}

.loader{
  position:fixed;
  width:100px;
  height:100px;
  margin:auto;
  animation:spin4 4s linear infinite;
}

@keyframes spin4{
  100%{transform:rotate(360deg);filter:hue-rotate(360deg)}
}

.loader:before{
  border:5px solid #aaa;
  border-bottom:5px solid orange;
  border-left:5px solid orange;
  animation:spin1 1s linear infinite;
}

.loader:after{
  border:5px solid #aaa;
  border-top:5px solid transparent;
  border-right:5px solid transparent;
  animation:spin2 1s linear infinite;
}

@keyframes spin1{
  20%{transform:rotate(150deg)}
  40%{transform:rotate(300deg)}
  80%{transform:rotate(300deg)}
  100%{transform:rotate(360deg)}
}

@keyframes spin2{
  0%{transform:rotate(-30deg)}
  20%{transform:rotate(-30deg);
      border-color:transparent transparent #aaa #aaa}
  21%{border-color:orange orange transparent transparent}
  40%{transform:rotate(-30deg)}
  60%{transform:rotate(120deg);
      border-color:orange orange transparent transparent}
  61%{border-color:transparent transparent #aaa #aaa}
  80%{transform:rotate(270deg)}
  100%{transform:rotate(330deg);}
}

/*-------------in game animation-----------*/
.girarRuleta-arte{
  -webkit-animation: girarRuleta-arte 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-arte 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-arte 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-arte{
  0% {transform: rotate(0);}
  100% {transform: rotate(1480deg);}
}

.girarRuleta-historia{
  -webkit-animation: girarRuleta-historia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-historia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-historia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-historia{
  0% {transform: rotate(0);}
  100% {transform: rotate(1420deg);}
}

.girarRuleta-ciencia{
  -webkit-animation: girarRuleta-ciencia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-ciencia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-ciencia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-ciencia{
  0% {transform: rotate(0);}
  100% {transform: rotate(1360deg);}
}

.girarRuleta-geografia{
  -webkit-animation: girarRuleta-geografia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-geografia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-geografia 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-geografia{
  0% {transform: rotate(0);}
  100% {transform: rotate(1660deg);}
}

.girarRuleta-entretenimiento{
  -webkit-animation: girarRuleta-entretenimiento 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-entretenimiento 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-entretenimiento 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-entretenimiento{
  0% {transform: rotate(0);}
  100% {transform: rotate(1600deg);}
}

.girarRuleta-deportes{
  -webkit-animation: girarRuleta-deportes 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  -moz-animation: girarRuleta-deportes 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
  animation: girarRuleta-deportes 5s cubic-bezier(0.19, 1, 0.22, 1) 1;
}
@keyframes girarRuleta-deportes{
  0% {transform: rotate(0);}
  100% {transform: rotate(1550deg);}
}