<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.preguntados.com/compiled/img/ruleta.png">
    <title>Crear Preguntas</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/animations.css" />
    <link rel="stylesheet" href="css/general.css" />
</head>

<body class="bg-white">
    <nav class="navbar bg-light navbar-top navbar-expand navbar-fixed-top" style="height: 62px;" role="navigation">
        <div class="container-fluid">
            <div class="navbar-brand">
                <a class="logo" id="asd" href="#">
                    <img class="mx-2" src="https://www.preguntados.com/compiled/img/willy_footer.png" alt="rompecabezas"
                        width="50px" />
                </a>
            </div>
            <div class="page-title">
                <span class="font-1 text-primary" style="font-size: 5.8vw;">Crear Preguntas</span>
            </div>
            <div class="navbar navbar-right">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navSidebar"
                    aria-controls="navSidebar" aria-expanded="false" aria-label="Toggle navigation"
                    data-original-title="" title="">
                    <span class="fa fa-bars" data-original-title="" title=""></span>
                </button>

                <a class="nav-link front-end" title="" href="doGame" target="_blank"
                data-original-title="Jugar">
                <i class="fas fa-gamepad color:black;" style="height: 20px;font-size: 20px;margin: 10px 0 0 0;"></i>
                </a>
            </div>
        </div>
    </nav>
    <div aria-live="polite" aria-atomic="true" style="position: absolute; min-height: 200px;" id="notificacionesToast">

    </div>
    <div class="container mt-4">
        <nav class="mb-3">
            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
                    data-request="onSave" data-progress-indicator="Saving..." aria-controls="nav-profile"
                    aria-selected="false"><i class="fas fa-plus"></i> Crear Pregunta</a>
            </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                <div class="row-fluid mb-3">
                    <div class="form-widget">
                        <div id="form-outside-tabs" class="">
                            <div class="form-fields">
                                <div class="form-group w-100">
                                    <label for="">Texto de la pregunta</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend w-100">
                                            <div class="input-group-text">
                                                <i class="fas fa-question-circle"></i>
                                            </div>
                                            <input id="texto" type="text" class="form-control"
                                                aria-label="Text input with checkbox" autocomplete="false">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group w-100">
                                    <label for="">Respuesta A</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input onchange="correctaRadio('a')" type="radio" name="respuestaCorrecta"
                                                    value="a">
                                            </div>
                                        </div>
                                        <input id="resA" type="text" class="form-control"
                                            aria-label="Text input with checkbox" autocomplete="false">
                                    </div>
                                </div>
                                <div class="form-group w-100">
                                    <label for="">Respuesta B</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input onchange="correctaRadio('b')" type="radio" name="respuestaCorrecta"
                                                    value="b">
                                            </div>
                                        </div>
                                        <input id="resB" type="text" class="form-control"
                                            aria-label="Text input with checkbox" autocomplete="false">
                                    </div>
                                </div>
                                <div class="form-group w-100">
                                    <label for="">Respuesta C</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input onchange="correctaRadio('c')" type="radio" name="respuestaCorrecta" value="c">
                                            </div>
                                        </div>
                                        <input id="resC" type="text" class="form-control"
                                            aria-label="Text input with checkbox" autocomplete="false">
                                    </div>
                                </div>
                                <div class="form-group w-100">
                                    <label for="">Respuesta D</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <input onchange="correctaRadio('d')" type="radio" name="respuestaCorrecta" value="d">
                                            </div>
                                        </div>
                                        <input id="resD" type="text" class="form-control"
                                            aria-label="Text input with checkbox" autocomplete="false">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Seleccione Categoria</label>
                                    <span class="badge badge-light" id="badgeCategoria"
                                            style="font-size: 15px; padding:10px; margin:0 10px; display: none;"></span>
                                    <div class="my-2">
                                        <div class="btn-group btn-group-toggle w-100" data-toggle="buttons">
                                            <div class="container p-0" aria-labelledby="dropdownMenu2">
                                                <div class="row">
                                                    <div class="col">
                                                        <button class="btn btn-outline-arte btn-block" type="button" id="ca1">
                                                            <i class="fas fa-paint-brush" style="color:red;"></i> Arte</button>
                                                    </div>
                                                    <div class="col">
                                                        <button class="btn btn-outline-ciencia btn-block" type="button" id="ca2">
                                                            <i class="fas fa-flask" style="color:#28a745;"></i> Ciencia</button>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col">
                                                    <button class="btn btn-outline-deportes btn-block" type="button" id="ca3">
                                                        <i class="fas fa-football-ball" style="color:#fd7e14;"></i>
                                                        Deportes</button>
                                                    </div>
                                                    <div class="col">
                                                    <button class="btn btn-outline-entretenimiento btn-block" type="button" id="ca4">
                                                        <i class="fas fa-film" style="color:#e83e8c;"></i>
                                                        Entretenimiento</button>
                                                    </div>
                                                </div>
                                                <div class="row mt-4">
                                                    <div class="col">
                                                    <button class="btn btn-outline-geografia btn-block" type="button" id="ca5">
                                                        <i class="fas fa-globe-americas" style="color:#007bff;"></i>
                                                        Geografia</button>
                                                    </div>
                                                    <div class="col">
                                                    <button class="btn btn-outline-historia btn-block" type="button" id="ca6">
                                                        <i class="fas fa-book" style="color:yellow;"></i>
                                                        Historia</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="btn btn-success text-white btn-lg btn-block" data-request="onSave"
                    data-progress-indicator="Saving..." id="agregar" tabindex="0" data-original-title=""
                    title="">
                    <i class="fa fa-save"></i> Agregar Pregunta</a>  
                </div>
            </div>
        </div>
    </div>
    <script src="js/jq-bs-bundle.js"></script>
    <script src="js/client/crearPreguntas.js"></script>
</body>

</html>