<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Jugar</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
    <link rel="stylesheet" href="/css/general.css" />
    <link rel="stylesheet" href="/css/animations.css" />
    <!-- Bundle JQuery Bootstrap -->
    <script src="/js/jq-bs-bundle.js"></script>
</head>

<body class="bg-primary" style="overflow: hidden;">

    <div class="position-absolute w-100 h-100 op-0-8"
        style=" width: 100%; z-index: -4; left:0; background-color: white; opacity: 0.2; filter: blur(4px);">
        <div class="" style="z-index: -10; top: 10%; ">
            <img src="images/ruleta.png" class="spinWating" width="100%">
        </div>
    </div>


    <div class="container" style="z-index: 99;">
        <div class="row">
            <div class="col-12 mx-auto">
                <h1 class="mx-auto my-3 text-white text-center font-1">
                    Partida Nueva
                </h1>
            </div>
        </div>
        <div class="">
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-light" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <span class="mt-2 text-light"> &nbsp; &nbsp; Esperando Usuarios</span>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    Usuarios
                </div>
                <div class="card-body" id="usuariosSesion">
                    <i style="color: darkorange;" class="fa fa-crown"></i> <span id="anfitrion"><%=usuarioAnfitrion.nombre%></span>
                    <div class="dropdown-divider"></div>
                    <div id="usuariosNuevos">
                        
                    </div>
                </div>
                <div class="card-footer ">Codigo de partida:&nbsp;
                    <span class="text-success font-1 text-uppercase" id="keyGame"><%=token%></span>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a class="btn effect01 mt-5 w-100 mx-auto d-block font-1 py-1" id="play" ontouchstart="playSound('bing')" onclick="playSound('bing')">
            <span style="font-size: 30px;">Comenzar Partida</span>
            <img class="d-block w-25 mx-auto" style="margin-top: -20px;margin-bottom: -20px;" src="https://image.flaticon.com/icons/svg/860/860353.svg" alt="">
        </a>
    </div>
    <img src="http://www.preguntados2.com/img/bg-clouds-lg.svg" width="100%" class="footer" alt="" />
    <script src="../socket.io/socket.io.js" charset="utf-8"></script>
    <script src="/js/client/game.js"></script>
    <!-- <script src="/js/client/logicGame.js"></script> -->
</body>
</html>