<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/animations.css" />
  <link rel="stylesheet" href="css/general.css" />
  <!--JQuery and Bootstrap-->
  <script src="js/jq-bs-bundle.js"></script>
  <script src="js/index.js"></script>

  <title>Preguntahoot</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://www.preguntados.com/compiled/img/ruleta.png">
</head>

<body class="bg-primary" style="overflow-x: hidden; overflow-y: hidden;">
  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-min">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img class="mx-2" src="https://www.preguntados.com/compiled/img/willy_footer.png" alt="rompecabezas"
          width="50px" />
          <h3 class="d-inline font-1 text-primary">Preguntahoot</h3>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" href="index.html">Home</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#">Estadisticas</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="crearPreguntas">Crear preguntas</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" href="#">Informacion</a>
          </li>
          <li class="nav-item" role="presentation">
            <a class="nav-link" id="ingresarButton" href="login.html">Ingresar</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container my-4 bg-white">
    
  </div>
  <div class="container">
    <div class="row h-25">
      <div class="mx-auto w-75">
        <a href="/doGame" class="btn effect01 w-100 font-1 py-1" id="play" ontouchstart="playSound('bing')" onclick="playSound('bing')">
          <span>Jugar</span>
          <img class="d-block h-50 mx-auto" style="margin-top: -20px;margin-bottom: -20px;" src="https://image.flaticon.com/icons/svg/860/860353.svg" alt="">
        </a>
      </div>
    </div>
    <div class="row no-gutters mt-4">
      <div class="col-4">
        <div class="row justify-content-center">
          <button type="button" class="btn"><i class="fa-a-white"></i></button>
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn"><i class="fa-b-white"></i></button>
        </div>
      </div>
      <div class="col-4">
        <img class="mx-auto w-100" src="https://www.preguntados.com/compiled/img/character-crown2.png" alt="">
      </div>
      <div class="col-4">
        <div class="row justify-content-center">
          <button type="button" class="btn" style="font-size: x-large;"><i class="fa-c-white"></i></button>
        </div>
        <div class="row justify-content-center">
          <button type="button" class="btn"><i class="fa-d-white"></i></button>
        </div>
      </div>      
    </div>
  </div>
  <!-- <img src="http://www.preguntados2.com/img/castle-top-lg.png" style="position:relative; bottom: -4%; display: block;"> -->
  <footer class="foot py-2" style="background-color: #5D6265;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <span class="text-center">Un juego inspirado en Preguntados y Kahoot</span>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>