<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="https://www.preguntados.com/compiled/img/ruleta.png">
    <title>Login</title>
    <!--CSS General-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/general.css" />
    <!--JQuery and Bootstrap-->
    <script src="js/jq-bs-bundle.js"></script>
    <script src="js/login.js"></script>
  </head>
  <body class="bg-graylight">
    <div class="container">
      <div class=" w-75 my-5 mx-auto rounded bg-white">
        <div>
          <img
            src="https://i-cdn.phonearena.com/images/articles/257819-image/gifcrop.gif"
            alt="cube"
            class="rounded-top"
            width="100%"
          />
        </div>
        <div class="row mx-auto myt-2" style="width: 95%;">
              <div class="col-2 px-0" >
                  <label class="py-2 d-block text-right" for="user">Usuario</label>
                  <label class="py-2 d-block text-right" style="position: relative; top: 18%;" for="clave">Contrase&ntilde;a</label>
              </div>
              <div class="col-10">
                  <div class="form-group">
                      <input type="text" name="user" id="user" class="form-control" placeholder="Usuario..." aria-describedby="usuarioHelp">
                      <small id="usuarioHelp" class="text-muted">Username o nombre de usuario</small>
                  </div>
                  <div class="form-group">
                    <input type="password" name="clave" id="clave" class="form-control" placeholder="Contrase&ntilde;a..." aria-describedby="claveHelp">
                    <small id="claveHelp" class="text-muted">Contrase&ntilde;a para ingresar</small>
                  </div>
              </div>
        </div>
        <div class="row mx-auto w-80 ">
            <div class="btn btn-success my-2 mx-auto w-50 myb-2" id="entrarButon">
              <i class="fas fa-sign-in-alt"></i> Entrar
            </div>
        </div>
      </div>
    </div>
  </body>
</html>
