.shadow-min {
    box-shadow: 0 0.1rem 1rem rgba(0,0,0,.15)!important;
}
.bg-graylight{
    background-color: #ebeeef;
}
.m-center{
    margin: 15% auto;
}
.w-80{
    width: 80% !important;
}
.myt-2{
    margin-top: 1.5rem!important;
}
.myb-2{
    margin-bottom: 2rem!important;
}